header {
    background-color: #1F2937;
    margin: -10px;
}

.head {
    display:flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    min-width: 500px;
}

.First {
    background-color: #1F2937;
    margin-left:-10px;
    margin-right:-10px;
    display: flex;
    justify-content: space-between;
    padding: 150px;
   
    
}
.welcome {
    
  
}


#skye {
    flex-shrink: 0;
    box-shadow: 10px 10px 5px;
    border-radius:10%;
    margin-left: 10px;
    
    
}

#title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0px;
   
}

#after, a {
    font-size:18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 0px;
    font-weight: 600;
    font-family: cursive;
    
}

body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    
}
.right {
    display: flex;
    gap:40px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 15%;
    color: white;
    padding:10px;
    width: 100px;
}

a {
    text-decoration: none;
}

.info {
    text-align: center;
    margin-top:10px;
    width: 100%;
    
}

#welc {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: auto;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    color:#1F2937;
    gap: 30px;
    
    
}

.pair {
    width: 150px;
    
}

